{% load static %}
{% include 'header.html' %}

        <section class="section single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area text-center">

                                <h3>{{ post.title }}</h3>

                                <div class="blog-meta big-meta">
                                    <small>{{ post.created }}</small>
                                    <small>by {{ post.owner.name }}</small>
                                </div><!-- end meta -->

								<br>

                            <div class="single-post-media">
							<img src="{{ post.image.url }}" alt="Post logo">
                            </div><!-- end media -->

                            <div class="blog-content">  
                                <div class="pp">

								  {{ post.description }}

                                </div><!-- end pp -->


                                </div><!-- end pp -->
                            </div><!-- end content -->

							{% if post.source %}
							<p><a href="{{ post.source }}">Source</a></p>
							{% endif %}

															
                            <div class="blog-title-area">
							  
                                <div class="tag-cloud-single">
								  {% if tags %}
								  
								  <span>Tags:</span>
								  {% for tag in tags %}
                                    <small>{{ tag }}</small>
									{% endfor %}
									
									{% endif %}
                                </div><!-- end meta -->

                            <hr class="invis1">

                            <div class="custombox authorbox clearfix">
                                <h4 class="small-title">About author</h4>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <img src="{{ post.owner.profile_image.url }}" alt="" class="img-fluid rounded-circle">
                                    </div><!-- end col -->

                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        <h4><a href="{% url 'tech_author' post.owner.id %}">{{ post.owner.name }}</a></h4>
										<p>{{ post.owner.short_intro|slice:"100" }}</p>
										<p>{{ post.owner.bio|slice:"500" }}</p>

                                        <div class="topsocial">
										  
										  {% if post.owner.social_facebook %}
                                            <a href="{{ post.owner.social_facebook }}" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
											{% endif %}

											{% if post.owner.social_youtube %}
                                            <a href="{{ post.owner.social_youtube }}" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
											{% endif %}

											{% if post.owner.social_pinterest %}
                                            <a href="{{ post.owner.social_pinterest }}" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
											{% endif %}

											{% if post.owner.social_twitter %}
                                            <a href="{{ post.owner.social_twitter }}" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
											{% endif %}

											{% if post.owner.social_instagram %}
                                            <a href="{{ post.owner.social_instagram }}" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
											{% endif %}

											{% if post.owner.social_website %}
                                            <a href="{{ post.owner.social_website }}" data-toggle="tooltip" data-placement="bottom" title="Website"><i class="fa fa-link"></i></a>
											{% endif %}
                                        </div><!-- end social -->

                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end author-box -->

                            <hr class="invis1">

                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->

        </section>

{% include 'footer.html' %}
